/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #444;
  background-color: #fff;
}
#page-wrapper, #page {
  background-color: #fff;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #444444;
}
a:focus , a:link, a:active {
  outline: none;
}
a:hover {
  color: #444;
}
h1, h2, h3, h4, h5, h6 {
  color: #222;
}
/*--- dividers --*/
hr {
  background-color: #d0d3d4;
}
.divider {
  border-color: #d0d3d4 !important;
}

/* --- list styles ---*/
ul.arrow li:before, ul.arrow2 li:before, ul.arrow3 li:before,
ul.arrow4 li:before, ul.arrow5 li:before, ul.plus li:before, ul.pen li:before, ul.star li:before,
ul.check li:before, ul.square li:before, ul.circle li:before, ul.pin li:before, 
ul.cross li:before, ul.disc li:before, ul.download li:before, ul.bookmark li:before {
  color: #f60000;
}
ul.list-filled li:before {
  color: #ffffff;
  background: #f60000;
}

button,
.button,
input[type="submit"],
input[type="button"],
.form-submit {
  background-color: #f60000;
  color: #f6f6f6;
}
button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.form-submit:hover {
  color: #ffffff;
}

/* ----- blockquote -----*/
blockquote {
  border-left-color: 3px solid #f60000;
  background-color: #efefef;
}

/*--- info box ---*/
.info-box .info-box-inner {
  border-color: #d0d3d4;
  background-color: #f6f6f6;
}
.info-box .greybg {
  background-color: #efefef;
}
.info-box .left-border {
  border-left-color: #f65287;
}
.info-box .right-border {
  border-right-color: #f65287;
}
.info-box .top-border {
  border-top-color: #f65287;
}
.info-box .bottom-border {
  border-bottom-color: #f65287;
}
.info-box .with-border {
  border-color: #f65287;
}

/* ---- dropcaps ---- */
.dropcap {
  color: #f65287;
}
.dropcap.circle, .dropcap.square {
  background: #f65287;
}

/* ----- selected text -------- */
::-moz-selection{ background: #fed175; color: #ffffff; text-shadow: none; }
::selection { background: #fed175; color: #ffffff; text-shadow: none; } 



/*--- page section start----*/

#intro {
  color: #fff;
}

#header {
  background: #f6f6f6;
  color: #444;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}
#sticky-header {
  background: #f6f6f6;
}

/*--- banner area --*/
#banner-area {
  background-color: #ccc;
}

/* ---- main menu ----*/
#main-menu a {
  color: #444;
}
#main-menu a:hover, #main-menu a.active, #main-menu a.active-trail {
  color: #f60000;
}
#main-menu ul ul.menu {
  background-color: #f6f6f6;
}

/*--- services ---*/
#services {
  background: #eee;
}

/*--- features  --*/
#features {
  background: #bbb;
  color: #fff;
}
#features h1, #features h2, #features h3, #features h4, #features h5, #features h6 {
  color: #fff;
}
#features .info-box h1, #features .info-box h2, #features .info-box h3, #features .info-box h4, #features .info-box h5, #features .info-box h6 {
  color: #444;
}
#features .info-box {
  color: #444;
}


/*--- newsletter ---*/
.newsletter #newsletter_email {
  color: #333;
  background-color: #efefef;
}
.newsletter #newsletter_submit {
  color: #333;
}
.newsletter #newsletter_submit:hover {
  color: #f65287;
}
.newsletter div.error {
  color: #fc3c3c;
}
.newsletter div.success {
  color: #289402;
}


/*--- testimonials --*/
#testimonials {
  background-image: url('../images/testimonials-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: #aaa;
  color: #fff;
  position: relative;
}
#testimonials h1, #testimonials h2, #testimonials h3, #testimonials h4, #testimonials h5, #testimonials h6 {
  color: #fff;
}
#testimonials .region-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.7 );
}

/*--- contact us ---*/
#contact-us {
  background-color: #efefef;
  background-image: url('../images/overlay.png');
  background-repeat: repeat;
}
.contact-form-container div.error {
  color: #fc3c3c;
}
.contact-form-container div.success {
  color: #289402;
}

/*--- sidebar ---*/
#sidebar {
  background-color: #efefef;
}


/* --- footer --*/
#footer {
  background: #ccc;
}


